<html>
  <head>
    <title>Let's dance with es6+</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- body %>
    <script src="./index.min.js" charset="utf-8"></script>
  </body>
</html>
