* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}
.flex-ic {
  align-items: center;
}
.flex-jb {
  justify-content: space-between;
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.hidden {
  display: none !important;
}

:root[color-mode='light'] {
  --color-primary: rgb(39, 107, 196);
  --color-primary-hover: rgb(66, 121, 194);
  --text-color-primary: #fff;
  --text-color-secondary: #333;
  --text-color-gray: #b3b3b3;
  --border-color-primary: #ccc;
  --border-color-secondary: rgb(235, 235, 235);
  --bg-color-primary: #fff;
  --bg-color-gray: #f0f0f0;
  --bg-color-gray-enhance: #d9d9d9;
  --input-bg-color-primary: #fff;
  --input-placeholder-color: #bebebe;
}
:root[color-mode='dark'] {
  --color-primary: rgb(39, 107, 196);
  --color-primary-hover: rgb(66, 121, 194);
  --text-color-primary: #fff;
  --text-color-secondary: #eeeeee;
  --text-color-gray: #6f6f6f;
  --border-color-primary: #494949;
  --border-color-secondary: #2b2b2b;
  --bg-color-primary: rgb(32, 32, 32);
  --bg-color-gray: #282828;
  --bg-color-gray-enhance: #484848;
  --input-bg-color-primary: rgb(56 56 56 / 48%);
  --input-placeholder-color: #535353;
}

:root[color-mode='light'] img[ref='close-header-dark'],
:root[color-mode='dark'] img[ref='dark-icon'] {
  display: none;
}
:root[color-mode='light'] img[ref='close-header'],
:root[color-mode='dark'] img[ref='light-icon'] {
  display: inline-block;
}

:root[color-mode='dark'] img[ref='close-header-dark'],
:root[color-mode='light'] img[ref='dark-icon']  {
  display: inline-block;
}
:root[color-mode='dark'] img[ref='close-header'],
:root[color-mode='light'] img[ref='light-icon']  {
  display: none;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color-gray);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-gray-enhance);
  border-radius: 6px;
}

.color-mode-btn {
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 40px;
  width: 30px;
  height: 30px;
}
.color-mode-btn img {
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  padding: 8px;
  color: var(--text-color-primary);
}
.btn-primary:hover {
  background-color: var(--color-primary-hover);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder-color);
}

textarea {
  caret-color: var(--text-color-secondary);
  color: var(--text-color-secondary);
}

.input-primary {
  border: 1px solid var(--border-color-primary);
  border-radius: 6px;
  padding: 5px 10px;
  caret-color: var(--color-primary);
  box-sizing: border-box;
  outline: none;
  width: 100%;
  background-color: var(--bg-color-primary);
  color: var(--text-color-secondary);
}
.input-primary:focus,
.input-primary:focus-visible,
.input-primary:hover {
  border: 1px solid var(--color-primary);
}
.input-primary:focus {
  background-color: var(--bg-color-primary);
}

.bg {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}
.bg.bgc-light {
  background: rgb(105, 155, 200);
  background: -moz-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -webkit-gradient(
    radial,
    top left,
    0px,
    top left,
    100%,
    color-stop(0%, rgba(105, 155, 200, 1)),
    color-stop(57%, rgba(181, 197, 216, 1))
  );
  background: -webkit-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -o-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: -ms-radial-gradient(
    top left,
    ellipse cover,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  background: radial-gradient(
    ellipse at top left,
    rgba(105, 155, 200, 1) 0%,
    rgba(181, 197, 216, 1) 57%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );
}
.bg.bgc-dark {
  background: #000000;
  background-image: -webkit-radial-gradient(
    top,
    circle cover,
    #2d2d2d 0%,
    #272727 80%
  );
  background-image: -moz-radial-gradient(
    top,
    circle cover,
    #2d2d2d 0%,
    #272727 80%
  );
  background-image: -o-radial-gradient(
    top,
    circle cover,
    #2d2d2d 0%,
    #272727 80%
  );
  background-image: radial-gradient(top, circle cover, #2d2d2d 0%, #272727 80%);
}

.chat-main {
  width: 850px;
  height: 650px;
  background-color: var(--bg-color-primary);
  border-radius: 6px;
  margin: 0 auto;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  color: var(--text-color-secondary);
}

.chat-header-base {
  margin: 0;
  height: 51px;
  line-height: 51px;
  padding: 0 20px;
  border-bottom: 1px solid var(--border-color-secondary);
  background-color: transparent;
}

.back-to-public {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.back-to-public img {
  width: 18px;
  height: auto;
}

.chat-login {
  padding: 30px 60px;
  height: 100%;
}
.chat-login input {
  width: 100%;
}

.chat-login__login-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.chat-login__login-btn button {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.chat-room {
  display: flex;
  height: 100%;
}

.chat-room__portrait-list ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.chat-room__portrait-list li,
.msg-block-base .portrait,
.chat-room__user-list .user-item dt {
  width: 65px;
  height: 65px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--border-color-secondary);
}
.chat-room__portrait-list li,
.chat-room__user-list .user-item dt {
  transition: transform .2s;
  transform-origin: 50% 50%;
  position: relative;
}
.chat-room__portrait-list li:hover,
.chat-room__portrait-list li.selected {
  /* border-color: var(--color-primary);
  box-shadow: 0 0 2px var(--color-primary); */
  transform: scale(1.25)
}

.chat-room__portrait-list li img,
.chat-room__user-list dl dt img,
.msg-block-base .portrait img {
  width: 100%;
}

.user-list-content {
  flex: 1 1;
  overflow: auto;
}
.chat-room__user-list {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color-secondary);
}
.user-search-input {
  border-color: transparent;
  background-color: var(--bg-color-gray);
  border-radius: 6px;
  height: 28px;
  font-size: 12px;
}
.user-search-input:hover {
  border-color: transparent;
}
.user-search-input:focus {
  background-color: var(--bg-color-primary);
  border-color: var(--color-primary);
}
.chat-room__user-list .chat-user-header {
  border: none;
}
.chat-room__user-list dl {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0;
  user-select: none;
}
.chat-room__user-list dl .own-mark {
  position: absolute;
  right: 12px;
  font-size: 12px;
  color: var(--text-color-gray);
}
.chat-room__user-list dl:hover,
.chat-room__user-list dl.selected {
  background-color: var(--bg-color-gray);
}
.chat-room__user-list .user-item dt,
.msg-block-base .portrait {
  width: 45px;
  height: 45px;
}
.chat-room__user-list dl dd {
  margin-left: 15px;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.chat-room__user-list .user-item dt {
  position: relative;
  overflow: visible;
}
.chat-room__user-list .user-item .user-item-avatar {
  display: block;
  overflow: hidden;
  height: 100%;
  border-radius: 6px;
}
.chat-room__user-list .user-item dt .count-tip {
  position: absolute;
  top: -4px;
  right: -6px;
  color: #fff;
  font-size: 12px;
  background-color: rgb(234 78 78);
  border-radius: 50%;
  width: 19px;
  height: 19px;
  display: block;
  text-align: center;
  line-height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* .chat-room__user-list .user-item + .user-item {
  border-top: 1px solid #f2f2f2;
} */

.chat-room__msg {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}
.chat-room__msg-box {
  height: 80%;
  display: flex;
  flex-direction: column;
}
.chat-room__msg-mlp {
  height: 20%;
  border-top: 1px solid var(--border-color-secondary);
  position: relative;
}
.chat-room__msg-mlp #msg-input {
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 14px;
  margin: 0px;
  width: 100%;
  height: 100%;
  resize: none;
  border-bottom-right-radius: 6px;
  background-color: var(--bg-color-primary);
}
.chat-room__msg-box .tip {
  text-align: center;
  margin: 0 auto;
  color: var(--text-color-gray);
  font-size: 12px;
  margin: 15px;
}
.msg-box-content {
  flex: 1 1;
  overflow: auto;
  padding: 5px 10px;
}

.msg-block-base {
  margin: 15px 0;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}
.msg-block-base .nick-name {
  color: var(--text-color-gray);
  font-size: 14px;
}
.msg-block-base .msg {
  margin-top: 2px;
  border-radius: 6px;
  position: relative;
  padding: 8px 10px;
  font-size: 14px;
  width: auto;
  word-break: break-word;
  max-width: 100%;
  color: var(--text-color-secondary);
}
.msg-block-base .info {
  margin: 0 10px;
  max-width: 80%;
}
.msg-block-base .msg::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
  display: block;
  top: 12px;
  border-top-color: transparent;
  border-right-color: transparent;
}
.msg-block-base.incoming-msg .msg {
  background-color: var(--bg-color-gray-enhance);
  float: left;
}
.msg-block-base.incoming-msg .msg::after {
  left: -3px;
  border-bottom-color: var(--bg-color-gray-enhance);
  border-left-color: var(--bg-color-gray-enhance);
  transform: rotateZ(45deg);
}
.msg-block-base.incoming-msg .portrait,
.msg-block-base.incoming-msg .info {
  float: left;
}
.msg-block-base.own-msg .portrait,
.msg-block-base.own-msg .info {
  float: right;
}
.msg-block-base.own-msg .info .nick-name {
  text-align: right;
}
.msg-block-base.own-msg .msg {
  background-color: var(--color-primary);
  color: #fff;
  float: right;
}
.msg-block-base.own-msg .msg::after {
  right: -3px;
  border-bottom-color: var(--color-primary);
  border-left-color: var(--color-primary);
  transform: rotateZ(225deg);
}
